name: Reusable Failure Notification

on:
  workflow_call:
    inputs:
      workflow_name:
        description: 'Name of the failed workflow'
        required: true
        type: string
      run_id:
        description: 'GitHub Actions run ID'
        required: true
        type: string

jobs:
  notify:
    name: Failure Notification
    runs-on: ubuntu-latest
    if: failure()
    steps:
      - name: Send Failure Notification
        uses: ./.github/actions/failure-notification
        with:
          workflow_name: ${{ inputs.workflow_name }}
          run_id: ${{ inputs.run_id }}
